        body{
            background-image: url("../Images/bg.jpg");
        }
        nav{
            position: absolute;
            right:10px;
            top: 0px;
            color: black;
            background-color: white;
            font-family:"Segoe UI",Arial,sans-serif;
        }
        h1{
            color: black;
            padding: 20px;
            text-align: center;
            background-color: white;
            font-family:"Segoe UI",Arial,sans-serif;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: #484b4b93;
            border: black 1px solid;
        }
        p{
            color: black;
            padding: 120px;
            text-align: justify;
            background-color: rgb(255, 255, 255);
            font-family:"Segoe UI",Arial,sans-serif;
        }